version: 2.1

orbs:
  architect: giantswarm/architect@6.13.0

jobs:
  template-chart:
    docker:
    - image: giantswarm/helm-chart-testing:v3.14.0
    steps:
    - checkout
    - run: |-
        cd helm/sloth
        helm dep up
        helm template .

workflows:
  build:
    jobs:
    # Ensure that for every commit to main and for every
    # release tag triggers the build
    - template-chart:
        name: template-chart-test
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package-and-push-chart
        requires:
        - template-chart-test
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: sloth
        persist_chart_archive: true
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main

    - architect/run-tests-with-ats:
        name: run-tests-with-ats
        ## TODO Remove once new architect orb is released
        app-test-suite_version: v0.8.0
        app-test-suite_container_tag: 0.8.0
        requires:
        - package-and-push-chart
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
